@keyframes for-title {
    from {
        font-size: 150px;
        margin-bottom: 30px;
        filter: opacity(0.1);
    }
    to {
        font-size: auto;
    }
}
@keyframes for-title-content {
    from {
        margin-inline: -700px;
    }
    to {
        
    }
}

@media (min-width: 1275px) {
    .header__title h1 {
        animation: for-title;
        animation-duration: 3s;
        animation-timing-function: ease-out;
    }
    .header__title {
        animation: for-title-content;
        animation-duration: 3s;
        animation-timing-function: ease-out;
    }
}

@keyframes for-form {
    from, 20% {
        filter: opacity(0);
    }
    to {

    }
}
@keyframes for-btn {
    from {
        font-size: 9px;
        margin-bottom: 20px;
        filter: opacity(0);
    }
    95% {
        font-size: 23px;
        margin-bottom: 20px;
    }
    to {
        font-size: auto;
    }
}
@keyframes for-h2 {
    from {
        margin-left: -150px;
        font-size: 18px;
    }
    to {
        margin-left: initial;
    }
}

.header__form {
    animation: for-form;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

.header__btn {
    animation-name: for-btn;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

h2.h2-animation {
    animation-name: for-h2;
    animation-duration: 2s;
}


@keyframes for-about {
    from {
        column-gap: 250px;
        filter: opacity(0.1);
    }
    to {
        column-gap: 32px;
    }
}
.about-us-animation {
    animation-name: for-about;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

}