* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}
ul, li {
    list-style-type: none;
}
button,
select,
input[type="date"] {
    cursor: pointer;
}
button:focus,
input:focus,
select:focus {
    outline: none;
}
button,
input,
select {
    font-size: inherit;
    font-family: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}